//

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$Loader-color: #540b50;
$Loader-size: 14.6rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;

body {
	font-family: 'Roboto', sans-serif;
}

.title {
	&-main {
		font-size: 5rem;
		color: #555;
		margin: 10rem 0;
		text-align: center;
	}

}

.input-zip {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	background: #fff;
	cursor: text;
	align-items: center;
	color: inherit;
	display: flex;
	margin-bottom: 8px;
	min-height: inherit;
	position: relative;
	transition: .3s cubic-bezier(.25,.8,.5,1);
	width: 100%;
	background-color: transparent;
	border-style: none;
	max-height: 65px;
	flex: 1 1 auto;
	line-height: 20px;
	padding: 1.75rem 12px;
	max-width: 100%;
	min-width: 0;
	margin: 2rem 0;
}

.btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-height: 35px;
	line-height: 35px;
	padding: .5rem 1.5rem;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	user-select: none;
	border-radius: 2px;
	transition: all .3s ease-out;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
	color: #fff;
	background: #171b27;
	&-current {
		margin-left: 2rem;
	}
	&:hover {
		transition: all .3s ease-out;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
		background: #586896;
		color: #fff;
	}
}

.error-geoloc {
	min-height: 15px;
	color: #ff0000;
	margin: 1rem 0;
}



.loading {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 3rem 0;
	max-width: $Loader-size;
	margin-top: $Loader-size/2;
	margin-bottom: $Loader-size/2;
	&:before,
	&:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		animation-duration: 1.8s;
		animation-iteration-count: infinite;
		animation-timing-function: $Loader-timing;
		filter: drop-shadow(0 0 $Loader-offset/2.25 rgba($Loader-color, 0.75));
	}
	&:before {
		width: 100%;
		padding-bottom: 100%;
		box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
		animation-name: pulsA;
	}
	&:after {
		width: calc(100% - #{$Loader-offset}*2);
		padding-bottom: calc(100% - #{$Loader-offset}*2);
		box-shadow: 0 0 0 0 $Loader-color;
		animation-name: pulsB;
	}
}

@keyframes pulsA {
	0% { box-shadow: inset 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
	50%, 100% { box-shadow: inset 0 0 0 0 $Loader-color; opacity: 0; }
}

@keyframes pulsB {
	0%, 50% { box-shadow: 0 0 0 0 $Loader-color; opacity: 0; }
	100% { box-shadow: 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
}

.container-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.city {
	h3 {
		font-size: 4rem;
		font-weight: 600;
		letter-spacing: .8px;
	}
}

.last-weather {
	width: 100%;
	.container-weather {
		display: flex;
		justify-content:space-between;
		align-items:center;
		.info {
			text-align: center;
		}
	}

	.weather {
		background: #fff;
		border-bottom: 5px solid black;
		border-radius: 3px;
		padding: 20px;
		position: relative;
		text-align: left;
		padding: 2rem;
		min-height: 300px;
		min-width: 300px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.4);
		&:after {
			content: '';
			display: flex;
			justify-content: center;
			height: 100%;
			width: 100%;
			position: absolute;
			border: 1px solid #fff;
			top: 0;
			left: 0;
		}
	}
}