<template>
	<div class="container-weather">
		<div class="weather" v-for="dataWeather in dataWeathers">
			<div class="info info-img">
				<img :src="'https://openweathermap.org/img/wn/'+dataWeather.weather[0].icon+'@2x.png'" :alt="dataWeather.weather[0].description">
			</div>
			<div class="info info-date">
				<p>{{ dataWeather.dt_txt.substr(0, 10) }}</p>
			</div>
			<div class="info info-type">
				<p>{{ dataWeather.weather[0].description }}</p>
			</div>
			<div class="info info-average">
				<p>Max: {{ temperatureConverter(dataWeather.main.temp_max) }} °C</p>
				<p>Min: {{ temperatureConverter(dataWeather.main.temp_min) }} °C</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: ['dataWeathers'],
	mounted() {
	},
	data: function() {
		return {
		};
	},
	computed: {
	},
	watch: {
	},
	methods: {
		temperatureConverter(valNum) {
			valNum = parseFloat(valNum);
			valNum = valNum-273.15;
			return Math.round(valNum);
		},
	}
}
</script>
